In [1]:
# asignacion de una variable
p_juan= 78

In [2]:
# mostrar el valor de una variable
p_juan

78

In [3]:
# asignacion de diversos valores a una variable
x = 10 # Número
y = 20 # número
z = "2022" # Texto
v = 'Enero' # Texto
w = 0.5 # Decimales con punto
u = (0,6,8) # que pasa con la coma?

In [46]:
g= 9.8

In [5]:
u

(0, 6, 8)

In [6]:
# asignacion y verificacion boolena si es tipo integer
x=1.0
x.is_integer()

True

In [7]:
# verificacion de diversos tipos de variables
type(y)

int

In [8]:
# verificacion de diversos tipos de variables
type(u)

tuple

In [9]:
type(z) #string

str

In [10]:
type(w)

float

In [47]:
# guardo en una variable lista, diferentes tipos de tipos
lista = [10, 10.5, 'hola']
lista

[10, 10.5, 'hola']

In [13]:
# muestro que tipo de variable es la variable lista
print(type(lista))

<class 'list'>

In [48]:
# creo un diccionario llamado diccionario, clave valor
# 
diccionario = {
    'nombre':'Juan',
    'edad':13,
    'profesion':'estudiante'
}
diccionario

{'nombre': 'Juan', 'edad': 13, 'profesion': 'estudiante'}

In [49]:
# muestro que tipo de dato es
print(type(diccionario))

<class 'dict'>

In [16]:
# variable booleanaa
booleanos = True # tambien puede ser False
booleanos

True

In [17]:
print(type(booleanos))

<class 'bool'>

In [18]:
# tipos de variables
x = 1
type(x)

int

In [19]:
print(x)
x = "hola"
print(x)

1
hola

In [52]:
#listas y creo una que es igual a otra
x = [1, 2, 3] 
y = x
print(y, x)

[1, 2, 3] [1, 2, 3]

In [54]:
# agrego un valor al final de la lista x, el valor 4
x.append()
print(y)

[1, 2, 3, 8, 4]

In [22]:
# muestro valores de x e y
x = 5
print(x, y)

5 [1, 2, 3, 4]

In [23]:
x = [1, 2, 3]   # x es una lista
y = x           # el objeto al que apunta x ([1, 2, 3]) ahora es también 
                # apuntado por y

In [24]:
# verifico que y este dentro de x, muestro los dos valores
print(y is x)   # x e y son el mismo objeto (True)
print(x, y)

True
[1, 2, 3] [1, 2, 3]

In [56]:
# agrego al final el valor 4
x.append(4)     # aquí operó sobre el objeto [1, 2, 3] apuntado por x.
                # Los métodos se identifican luego de un punto (x.método())  
print(y)        # como x e y apuntan al mismo objeto, y refleja los cambios

[1, 2, 3, 8, 4, 4, 4]

In [58]:
x = "hola"      # al realizar asignación, ahora x apunta al objeto texto 
                # (string) "hola" 
print(x is y)   # x e y ahora no apuntan al mismo objeto (False)
print(x, y)     # x e y apuntan a dos objetos diferentes (“hola” [1, 2, 3, 4])

False
hola [1, 2, 3, 8, 4, 4, 4]

In [27]:
a = 8
b = 5

In [28]:
# Suma
print("suma:",a + b)

# Resta
print("resta:",a - b)

# Multiplicación
print("multiplicación:", a * b)

# División
print("División:",a / b)

# División entera (resultado sin decimal)
print("División entera:",a // b)

# Módulo (resto de la división entera)
print("Módulo (resto de la división entera):",a % b)

# Exponenciación
print("Exponenciación:", a ** b)

# Negativo
print("Negativo:",-a)

suma: 13
resta: 3
multiplicación: 40
División: 1.6
División entera: 1
Módulo (resto de la división entera): 3
Exponenciación: 32768
Negativo: -8

In [31]:
a = 100
b = 4

# a = a + b
a += b
print(a)

#a = a - b
a -= b
print(a)

#a = a * b
a *= b
print(a)

#a = a / b
a /= b
print(a)

#a = a // b
a //= b
print(a)

#a = a % b
a %= b
print(a)

#a = a ** b
a **= b
print(a)

104
100
400
100.0
25.0
1.0
1.0

In [59]:
a = 5
b = 10

# igual a
print(a == b)

# distinto de
print(a != b)

# menor que
print(a < b)

# mayor que
print(a > b)

# menor o igual que
print(a <= b)

# mayor o igual que
print(a >= b)

False
True
True
False
True
False

In [33]:
a = 10
b = [10, 5, 30]

# es el mismo objeto que
print(a is b)
# no es el mismo objeto que
print(a is not b)

### se utilizan con listas principalmente
# esta contenido en 
print(a in b)
# no esta contenido en
print(a not in b)

False
True
True
False

In [60]:
"j" in "hola"

False

In [61]:
# ¿es posible usar operaciones con datos de diferente tipo?
a = 3
b = 'texto'

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
# En general no, pero hay algunas excepciones
a = 3
b = 'texto'
print(a * b)

textotextotexto

In [63]:
# ¿es posible usar operadores aritméticos con datos que no sean números?
a = 'Hola '
b = 'Mundo'

print(a * b)

TypeError: can't multiply sequence by non-int of type 'str'

In [64]:
# la respuesta es NO, no obstante, hay operaciones que se pueden realizar y que tienen notaciones similares
# ejemplo:
a = 'Hola '
b = 'Mundo'
print(a + b) # Concatenar
# En el caso de los operadores de asignación la respuesta es la misma
a += b # a = a + b
print(a)
# los operadores logicos si funcionan con texto
print(a == b)
print(a != b)
print(a >= b)

Hola Mundo
Hola Mundo
False
True
False

In [65]:
"HOLA"=="hola"

False

In [40]:
# los operadores de identidad si funcionan con texto
a = 'Hola '
b = 'a'
# comparaciones  de pertenencias
print(a is b)
print(a is not b)
print(b in a)
print(b not in a)

False
True
True
False

In [66]:
# comparaciones con o
2>10 or 3>10

False

In [42]:
# comparaciones con o
10>2 or 3>10

True

In [43]:
# comparaciones con o
10>5 or 20>1

True

In [44]:
# comparaciones con y
2>10 and 3>10

False

In [45]:
# comparaciones con y
10>5 and 2>1

True