In [1]:
import pandas as pd

In [2]:
numeros = range (50,70,2)
numeros_series=pd.Series(numeros)
print (numeros_series)
# declaro la variable numero dentro de un rango (inicio = 50, fin = 70 paso = 2,)
# lo guardo en una variable llamada numeros_series y a eso lo igualo con pd.Series( argumento numero)
# imprimo la variable numeros_series
# me muestra que el tipo de doct type es int64

0    50
1    52
2    54
3    56
4    58
5    60
6    62
7    64
8    66
9    68
dtype: int64

In [3]:
# acceder a diferentes elementos del indice 
# pongo la variable y entre corchetes por el numero del indice, ojo que arranca con indice 0
print (numeros_series[2])

54

In [4]:
# poniendo la consulta.index me muestra el inicio el fin y el paso 
print (numeros_series.index)

RangeIndex(start=0, stop=10, step=1)

In [5]:
# nombre.values me va a mostrar todos los valores de la lista
print (numeros_series.values)

[50 52 54 56 58 60 62 64 66 68]

In [6]:
#  le voy a poner nombre a una fila (modificar los indices)
# declaro en una lista los nombres que le voy a poner (tiene que ser la misma cantidad, ejemplo son 9 numeros, 9 nombres)
# guardo en otra lista, le paso la variable que declare arriba, en este caso numero( valores que yo cree)
# y al index, le paso la lista nombre fila.
# imprimo  y me queda la serie con nombre y valor.
nombre_fila =['primero','segundo','tercero','cuarto','quinto','sexto','septimo','octavo','noveno','decimo']
numeros_series_2 = pd.Series(numeros, index=nombre_fila)
print(numeros_series_2)

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
septimo    62
octavo     64
noveno     66
decimo     68
dtype: int64

In [7]:
# las series pueden tenes diferentes tipos de datos 
# creo la serie con valores entero, flotante, string y booleano
# cuando ponga el print me va a mostrar los indices, los valores, y el doctype que es objeto.
serie= pd.Series([1,1.2, 'tres', True])
print(serie)

0       1
1     1.2
2    tres
3    True
dtype: object

In [8]:
# los indices pueden tener diferentes tipos de datos
serie1=pd.Series([1,2,3,4,5,6],index=['a',1,'b',2,'c',False])
print(serie1)

a        1
1        2
b        3
2        4
c        5
False    6
dtype: int64

In [9]:
modelos=['fiat','renaul','ford','dodge ram']
peso=[1500,2500,3500,6000]
precios=[4500,5048,6500,7500]
autos_peso=pd.Series(peso,index=modelos)
autos_precios=pd.Series(precios,index=modelos)
print(autos_precios)
print(autos_peso)

fiat         4500
renaul       5048
ford         6500
dodge ram    7500
dtype: int64
fiat         1500
renaul       2500
ford         3500
dodge ram    6000
dtype: int64

In [10]:
# ahora lo vamos a pasar a un dataframe
#declaro una variable, ahora uso Dataframe
# uso diccionario , la clave (key) entre comillas va el nombre de la columna, y el valor es la lista que quiero poner, 
# en este caso
# el peso que declare anteriormente, lo mismo para los precios.
# con un print muestro.
autos=pd.DataFrame({'Peso':autos_peso,'Precio':autos_precios})
print (autos)

           Peso  Precio
fiat       1500    4500
renaul     2500    5048
ford       3500    6500
dodge ram  6000    7500

In [11]:
# otra forma de crear una df es concatenar series 
#  par치metro axis se utiliza para especificar el eje a lo largo del cual se realizar치n ciertas operaciones.
# axis=0: se refiere al eje vertical o las filas de un DataFrame. Al especificar axis=0,
# l as operaciones se realizar치n a lo largo de las filas.
# axis=1: se refiere al eje horizontal o las columnas de un DataFrame.
# Al especificar axis=1, las operaciones se realizar치n a lo largo de las columnas.
# si pongo axis=0 va uno debajo del otro, sino uno al lado del otro
s=pd.concat([autos_peso, autos_precios], axis=1)
print(s)

              0     1
fiat       1500  4500
renaul     2500  5048
ford       3500  6500
dodge ram  6000  7500

In [12]:
# renombrar la columnas 
# a la serie le pongo. rename( y la las columnas le asigno el diccionario que la clave(key) sea el nombre viejo y el valor el nuevo)
df=s.rename(columns={0:'Peso',1:'Precio'})
df

           Peso  Precio
fiat       1500    4500
renaul     2500    5048
ford       3500    6500
dodge ram  6000    7500

In [13]:
print(s)

              0     1
fiat       1500  4500
renaul     2500  5048
ford       3500  6500
dodge ram  6000  7500

In [14]:
print("HOLA")

HOLA

In [15]:
autos_precios

fiat         4500
renaul       5048
ford         6500
dodge ram    7500
dtype: int64

In [16]:
# para ver el valor de una serie, pongo el nombre y entre parentesis lo que quiero mostrar
autos_precios['fiat']
# tambien se puede mediante el metodo loc
autos_precios.loc['fiat']

4500

In [17]:
# tambien se puede mediante el metodo loc
autos_precios.loc['fiat']

4500

In [18]:
#son m칠todos utilizados para acceder y seleccionar datos en un DataFrame.
# La diferencia entre ellos radica en la forma en que se realizan las selecciones:
# loc utiliza etiquetas o nombres de 칤ndice, 
#mientras que iloc utiliza 칤ndices enteros basados en la posici칩n
autos_precios.loc['fiat']
autos_precios.iloc[0]

4500

In [19]:
autos_precios.iloc[0] # es igual a ==>autos_precios.loc['fiat']

4500

In [20]:
# veo los indices
autos.index

Index(['fiat', 'renaul', 'ford', 'dodge ram'], dtype='object')

In [21]:
# muestro los nombres de las columnas
autos.columns

Index(['Peso', 'Precio'], dtype='object')

In [22]:
# tipo de objeto
type(autos)

pandas.core.frame.DataFrame

In [23]:
# imprimo el tipo de objeto
print (type(autos))

<class 'pandas.core.frame.DataFrame'>

In [24]:
# muestro los valores del df
autos.values

array([[1500, 4500],
       [2500, 5048],
       [3500, 6500],
       [6000, 7500]], dtype=int64)

In [25]:
# traigo solo la columna
autos['Peso']

fiat         1500
renaul       2500
ford         3500
dodge ram    6000
Name: Peso, dtype: int64

In [26]:
# traigo la columna peso, cuando el nombre de la fila coincida con fiat( ojo que es case sensitive)
autos['Peso'].loc['fiat']

1500

In [27]:
# selecciono el df autos, busco por loc (cuando la columna peso sea igual a 2300, y luego muestro el precio)
autos.loc[autos.Peso == '2300','Precio']

Series([], Name: Precio, dtype: int64)

In [28]:
type (autos)

pandas.core.frame.DataFrame

In [29]:
# muestro el df
autos

           Peso  Precio
fiat       1500    4500
renaul     2500    5048
ford       3500    6500
dodge ram  6000    7500

In [30]:
# si pongo la consulta autos.T, me traspone el DF, osea me cambia filas por columnas.
autos.T

        fiat  renaul  ford  dodge ram
Peso    1500    2500  3500       6000
Precio  4500    5048  6500       7500

In [31]:
# Otra forma de agregar series o df es con la operacion .add
numeros_series_2

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
septimo    62
octavo     64
noveno     66
decimo     68
dtype: int64

In [32]:
# creo la serie 3
numeros = range (30,50,2)
numeros_en_texto=['primero0','segundo','tercero','cuarto','quinto','sexto','septimo','octavo','noveno','decimo',]
numeros_series_3= pd.Series(numeros,index=numeros_en_texto)
numeros_series_3

primero0    30
segundo     32
tercero     34
cuarto      36
quinto      38
sexto       40
septimo     42
octavo      44
noveno      46
decimo      48
dtype: int64

In [33]:
# al momento de sumar dos series o df, si uno de los dos tiene valores nulos o nan( not a number) el resultado sera nan
# porque sumar un numero con nada es nada.
numeros_nan = numeros_series_2+numeros_series_3
print(numeros_nan)
# como las columnas se llaman distinto primero y primeroo, al no ser iguales se suman por separado, y aparace el nan

cuarto       92.0
decimo      116.0
noveno      112.0
octavo      108.0
primero       NaN
primero0      NaN
quinto       96.0
segundo      84.0
septimo     104.0
sexto       100.0
tercero      88.0
dtype: float64

In [34]:
# agrego dos series con el metodo add ( la dif es que ahora no creo una tercera, sino la agrego a series2)
numeros_series_2.add(numeros_series_3)

cuarto       92.0
decimo      116.0
noveno      112.0
octavo      108.0
primero       NaN
primero0      NaN
quinto       96.0
segundo      84.0
septimo     104.0
sexto       100.0
tercero      88.0
dtype: float64

In [35]:
# para ver si los numeros son nullos o NaN
# PUEDO SUMAR SOLO LOS INDICES ( sumo indice 1 y 2 ( el 3 no ))
serie_parcial=numeros_series_3 [1:3]+numeros_series_2[1:3]
print(serie_parcial)

segundo    84
tercero    88
dtype: int64

In [36]:
# Renombrar los ejes
# creo la serie con el nombre ejemplo,  y  pongo el nombre numeros al indice
serie= pd.Series([10,20,30,40], name='Ejemplo').rename_axis('numeros')
print(serie)

numeros
0    10
1    20
2    30
3    40
Name: Ejemplo, dtype: int64

In [37]:
 # asignar un nombre al indice con rename_axis() ()
# Por defecto, un DataFrame o Serie puede tener nombres en los ejes. Por ejemplo, un DataFrame puede tener 
# nombres en el 칤ndice de filas (eje 0) y en las columnas (eje 1). Sin embargo, en ocasiones puede ser necesario
# cambiar esos nombres a algo m치s descriptivo o apropiado para tus datos.
# asignar un nombre a la columna con rename
serie=serie.rename_axis('Letras')
print(serie)

Letras
0    10
1    20
2    30
3    40
Name: Ejemplo, dtype: int64

In [38]:
# renombro la serie
serie=serie.rename('Valores')
print(serie)

Letras
0    10
1    20
2    30
3    40
Name: Valores, dtype: int64

In [39]:
# lidiando con valores faltantes
# sumo los series, que van a tener NaN
# si no quiero que aparecezca valores NAN PUEDO USAR 
# FILL_VALUE=0
numeros_series_2[0:15].add(numeros_series_3[5:8], fill_value=0)
print (numeros_series_2)

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
septimo    62
octavo     64
noveno     66
decimo     68
dtype: int64

In [40]:
numeros_nan

cuarto       92.0
decimo      116.0
noveno      112.0
octavo      108.0
primero       NaN
primero0      NaN
quinto       96.0
segundo      84.0
septimo     104.0
sexto       100.0
tercero      88.0
dtype: float64

In [41]:
# para que no aparezcan NaN, los reemplazo por cero
numeros_nan.fillna(0)

cuarto       92.0
decimo      116.0
noveno      112.0
octavo      108.0
primero       0.0
primero0      0.0
quinto       96.0
segundo      84.0
septimo     104.0
sexto       100.0
tercero      88.0
dtype: float64

In [42]:
# aca mejorando, los podemos reemplazar por la mediam (mean)
#saco la media
media = numeros_nan.mean()
# creo una nueva seria  que cuando encuentre nan los reemplaze con la media

serie_sin_nan = numeros_nan.fillna(media)
print(serie_sin_nan)

cuarto       92.0
decimo      116.0
noveno      112.0
octavo      108.0
primero     100.0
primero0    100.0
quinto       96.0
segundo      84.0
septimo     104.0
sexto       100.0
tercero      88.0
dtype: float64

In [43]:
# elimina los valores que tienen valores nan
numeros_nan.dropna()

cuarto      92.0
decimo     116.0
noveno     112.0
octavo     108.0
quinto      96.0
segundo     84.0
septimo    104.0
sexto      100.0
tercero     88.0
dtype: float64

In [44]:
import os
print(os.getcwd())

C:\Users\Usuario

In [45]:
import os

# Ruta absoluta al nuevo directorio
new_directory = 'C:/Users/Usuario/Desktop/Data Science/'

# Cambiar el directorio de trabajo
os.chdir(new_directory)

In [46]:
import os

# Verificar el directorio actual
current_directory = os.getcwd()
print(current_directory)

C:\Users\Usuario\Desktop\Data Science

In [47]:
print ("HOLA MUNDO")

HOLA MUNDO